@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: black;
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none;
}

.main {
  border-bottom-left-radius: 1000px;
  border-bottom-right-radius: 1000px;
}

.first,
.second,
.third,
.info ,.fifth{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.second {
  background-image: url("./media/main1.jpg");
  background-size: cover;
  filter: brightness(50%);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}


.about

{ background-color: transparent;
    position: relative;

  width: 60%;
    color: white;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.first_right {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.main {
  height: 30rem;
  width: auto;
}

.third,
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
/* .third_1

    height: 200px;
    border: 1px solid rgb(78, 109, 150); 
    box-shadow: rgba(78, 109, 150, 0.721) 0px 1px 0px, rgba(55, 77, 106, 0.334) 0px 8px 30px, rgba(78, 109, 150, 0.721) 0px 16px 48px;
    width: 500px; */

#image-track img {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  box-shadow: #a6bed86f 0px 48px 100px 0px;
  margin: 40px;
  object-position: center center;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: relative;
  left: 50%;
  color: white;

}

.fourth,.fifth
{
    color: white;
    display: flex;
    width: 100vw;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    letter-spacing: 12px;
}


.image:hover {
  cursor: grab;
}

svg {
  display: inline-block;
  height: 100%;
}

.first_left {
  color: white;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.first_left img {
  transform: translate(34%, 2%);
}


.info1
{
    /* box-shadow: #a6bed86f 0px 4px 100px 0px; */
    
    word-wrap: break-word;
    min-width: 70vw;
   width: 70vw;   
    background-color: transparent;
    margin-bottom: 30px;
    color: #a6bed8;
    font-family: "Poppins", sans-serif;
    
    
}


.info
{
    flex-direction: column;
    justify-content: space-between;
    height: 110vh;
    background-image: url("./media/main3-removebg-preview.png");
    background-repeat:repeat-x;
    /* background-size: 50%; */
    filter: brightness(50%);
    
}

li{
    margin: 15px;
    font-size: 13px;
}

b{color: rgb(255, 255, 255);}

.fifth
{
    background-image: url("./media/main3.jpg");
    height: 100vh;
    background-size: cover;
}

.fifth
{  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.divv
{
 margin:60px;   
 padding:10px;   
 width: 100vw;
 text-align: center;
  background-color: #0000003e;
}

a{
    text-decoration: none;
    color:white ;
}

.video
{
   
    width: 400px;
    background-color: black;
    border-radius: 1340px;
    object-fit: cover;
}

video
{
  border-radius: 1340px;
    height: 400px;
    width: 400px;
}